//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN_NPM}
registry=https://registry.npmjs.org/
legacy-peer-deps=true
always-auth=true

//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN_GH}
@lumbagog:registry=https://npm.pkg.github.com
legacy-peer-deps=true
always-auth=true

