legacy-peer-deps=true
always-auth=true

registry=https://registry.npmjs.org/

@LumbagoG:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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

//registry.npmjs.org/:_authToken=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
