{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "overrides": [
    {
      "files": ["*.styled.ts"],
      "customSyntax": "postcss-lit"
    }
  ]
}
